@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Quantico", sans-serif;
}

body {
    position: relative;
    height: 100vh;
    
    background-image: linear-gradient(to bottom, #01050E, #1C1656, #443278e5, #282471, #090915);

    /*background-color: blue;
    background-image: url('../imagens/pexels-miriamespacio-110854.jpg');
    background-size: content;
    background-position: center center;
    background-repeat: no-repeat;*/
}

#formulario {
    position: absolute;
    top: 50%;
    left: 50%;


    width: 510px;
    background-image: url('../imagens/pexels-miriamespacio-110854.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-color: rgba(255, 255, 220, 0.966);*/
    border: 7px solid #100E40;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #100e40a2;
    transform: translate(-50%, -50%);
}

div#formulario > h1 {
    font-size: 2.5em;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

div#formulario > p {
    font-size: 1.1em;
    padding: 10px;
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 5px black;
}

form {
    background-color: #100E40;
    color: white;
}

div#usu {
    padding: 10px;
    background-image: linear-gradient(to bottom,#100E40, #01050e);
}

div#sen {
    padding: 10px;
    background-color: #01050E;
}

div#enviar {
    padding: 10px;
    background-color: #01050E;
    text-align: center;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}


